html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
html body input, html body select, html body textarea, html body button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
}
#header #logoHolder {
  height: 200px;
  background-color: #fff;
  text-align: center;
}
#header #logoHolder img {
  height: 100%;
  width: 100%;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
#header #mNav ul {
  margin: 0;
  padding: 0;
  background-color: #008100;
  display: flex;
  list-style-type: none;
}
#header #mNav ul li {
  flex: 1 1 auto;
  text-align: center;
}
#header #mNav ul li a {
  display: block;
  height: 100%;
  padding: 0 5px;
  line-height: 50px;
  text-decoration: none;
  color: #FFF;
}
#header #mNav ul li a.activeButton {
  background-color: #005700;
}
@media (min-width: 769px) {
  #header #mNav ul li a:hover {
    background-color: #005700;
  }
}
@media (max-width: 480px) {
  #header #mNav ul li a {
    line-height: 25px;
    font-size: 14px;
  }
}

#contentWrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 500px;
}
@media (max-width: 768px) {
  #contentWrapper {
    width: 90%;
  }
}
#contentWrapper a.anchorPoint {
  display: block;
  height: 250px;
}
#contentWrapper .textcontent {
  background-color: white;
  margin-bottom: 300px;
  padding: 50px;
  min-height: 500px;
}
@media (max-width: 480px) {
  #contentWrapper .textcontent {
    padding: 20px;
  }
}
#contentWrapper .textcontent h1 {
  color: #008100;
}
#contentWrapper .textcontent img {
  max-width: 100%;
}

.checkoutWrapper {
  padding-top: 300px !important;
}

#footer {
  background-color: #ecffec;
  min-height: 300px;
}
#footer div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
@media (max-width: 768px) {
  #footer div {
    width: 90%;
  }
}
@media (max-width: 480px) {
  #footer div {
    padding: 20px;
  }
}

.backgroundImage {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.3s linear;
  opacity: 0;
}
.backgroundImage.activeImage {
  opacity: 1;
}

form .fieldlist {
  display: flex;
  gap: 10px 20px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  form .fieldlist {
    display: grid;
  }
}
form textarea {
  width: 60%;
}
@media (max-width: 768px) {
  form textarea {
    width: 100%;
  }
}
@media (max-width: 768px) {
  form input {
    width: 100%;
  }
}

.errMsg {
  color: red;
}

#msg {
  transition: top 0.4s ease-out;
  -webkit-transition: top 0.4s ease-out;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #FFF;
  position: fixed;
  z-index: 99;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#msg.success {
  background-color: #28a745;
}
#msg.error {
  background-color: #dc3545;
}
#msg.warning {
  background-color: #ffc107;
}/*# sourceMappingURL=styles.css.map */